* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.container {
  border-radius: 6px;
  padding: 25px 20px;
  background-color: white;
  box-shadow: 4px 4px 7px 0 #bbb,
    -2px -2px 6px 0 white;
}

h3 {
  color: #555;
  font-weight: 400;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  font-family: Arial, sans-serif;
}

#display {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

input {
  padding: 8px 10px;
  text-align: right;
  outline: transparent;
}

.buttons {
  gap: 8px;
  display: grid;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(4, 50px);
}

button {
  border: none;
  color: #60A5FA;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  background-color: transparent;
  transform: box-shadow 0.3s ease;
}

button:active {
  color: #6099f7;
  background-color: #e4f0fe;
}

button.opr {
  color: rgb(222, 238, 255);
  background-color: #60A5FA;
}

button.opr:active {
  color: #e1f0ff;
  background-color: #3f92f7;
}

.buttons button:nth-child(1) {
  grid-column: span 2 / span 2;
}

.buttons button:nth-child(2) {
  grid-column-start: 3;
}

.buttons button:nth-child(3) {
  font-weight: 800;
  grid-column-start: 4;
}

.buttons button:nth-child(4) {
  grid-row-start: 2;
}

.buttons button:nth-child(5) {
  grid-row-start: 2;
}

.buttons button:nth-child(6) {
  grid-row-start: 2;
}

.buttons button:nth-child(7) {
  grid-row-start: 2;
}

.buttons button:nth-child(8) {
  grid-row-start: 3;
}

.buttons button:nth-child(13) {
  grid-row-start: 4;
}

.buttons button:nth-child(15) {
  font-weight: 800;
}

.buttons button:nth-child(17) {
  font-weight: 800;
  grid-row-start: 5;
}

.buttons button:nth-child(18) {
  grid-column: span 2 / span 2;
}